<!DOCTYPE html>
<html>
<head>
  <title>Weather Form</title>
</head>
<body>
  <form action="/ps4/weather-promise" method="post">
    <input type="text" name="city" placeholder="Enter city">
    <button type="submit">Get Weather</button>
  </form>
</body>
</html>
